* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(0, 0, 0);

}

root {
    --main-color: red;
}

.main-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;
    gap: 30px;
}

.conteiner {
    display: flex;
    flex-direction: column;
    width: 75%;
    gap: 30px;
}

.sidebar {
    display: flex;
    flex-direction: column; 
    width: 25%;
    gap: 20px;
    margin-right: 20px;
}


.video {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 800px;
    background-color: gray;
    border: 2px solid rgb(48, 48, 48);
    border-radius: 15px;
}


.video1, .video2, .video3 {
    width: 100%;
    height: 300px; 
    background-color: white;
    border: 2px solid rgb(48, 48, 48);
    border-radius: 10px;
}

.info {
    display: flex;
    gap: 20px;
    margin-left: 50px;
}

.avatar-wrapper {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid white
}

.avatar-wrapper:hover {
    cursor: pointer;
    background-color: rgb(0, 0, 0);
}

img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.btn-follow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 70px;
    background-color: van(--main-color);
    color: white;
    font-size: 30px;
    border: 1px solid white;
    border-radius: 10px;
}

.btn-follow:hover {
    cursor: pointer;
    background-color: darkred;
}

.counter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: rgb(27, 26, 26);
    color: white;
    font-size: 25px;
    border-radius: 30%;
}

.counter-likes {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: rgb(27, 26, 26);
    color: white;
    font-size: 25px;
    border-radius: 30%;
}

.counter-dislikes {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: rgb(27, 26, 26);
    color: white;
    font-size: 25px;
    border-radius: 30%;
}