/* Характеристика до всіх блоків 
'*' - це селектор, яким вибираємо всі елементи сторінки,
бо сайт по замовчуванню накидує пару */
* {
    margin:0;
    padding:0;
}

body {
    background-color:rgb(255, 255, 255);
}

#block, 
.block {
    background-color:brown;
    color: rgb(0, 255, 76);
    width: 20%;
    height: 100px;
    border: 5px dashed #5e0c49;
    border-left: 0;
    border-right: 10px solid block;
    border-top: 15px double #7700ff;
    border-bottom: 5px dotted #000000;
    border-radius: 25px 15px 50px 100px;
    border-bottom-right-radius: 0px;
    opacity: 0.8;
    /*margin - зовнішні відступи */
    /*padding - внутрішні відступи */
    margin: 20px 40px 100px 70px;
    margin-left: 5px; /* left right bottom top */

    padding: 35px 20px;

    display: inline-block; /* inline, block, table... */
}