* {
    padding:0;
    margin:0;
}

body {
    background-color: rgb(0, 0, 0);
    height: 2000px;
}

header, footer {
    width: 100%;
    height: 70px;
    background-color: red;
    text-align: center;
    line-height: 70px;
    color: aqua;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;

    /* padding-top: 40px; */
    float: left;
}

header {
    border-bottom: 4px solid rgb(229, 255, 0);
    margin-bottom: 50px;
    z-index: 2;
    position: relative;
}

.nav {
    color:#ffffff;
    list-style: none;
    display: block;
    width: 50%;
    margin-left: 25%;
    float: left;
    text-align: center;
    margin-bottom: 50px;
}

.nav li {
    color:black;
    display: inline;
    background-color:rgb(255, 255, 255);
    border: 1px solid silver;
    padding: 0 20px;
}

.nav li:not(:last-of-type) {
    margin-right: 20px;
}

.nav li:hover {
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    color: #ffffff;
}



main {
    text-decoration: underline;
    text-align: center;
    font-size: 20px;
    width: 40%;
    margin-left: 10%;
    background-color: #ffffff;
    padding: 20px 2.5%;
    float: left;
}

#add-to-card {
    background-color: yellowgreen;
    color: blueviolet;
    font-size: 40px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;

    /* position: relative; віртуальне переміщення(браузер місце лишає, але його переносить) */
    position: absolute; /*абсолютне переміщення(браузер місце не лишає, а переносить) */
    top: 200px;
    left: 70px;
    cursor: pointer;
}

#add-to-card:hover {
    background-color: rgb(59, 78, 20);
}

aside {
    width: 20%;
    border: 1px solid rgb(25, 0, 255);
    margin-left: 10%;
    background-color: #ffffff;
    padding: 20px 2.5%;
    float: left;

    position: relative; /* absoulute, fixed, sticky. stisic - default */
    top: -70px; /*also 50px and top bottom right left*/
    z-index: 1;
}

footer {
    border-top: 4px solid rgb(229, 255, 0);
    margin-top: 50px;
}


/* .block {
    width: 200px;
    height: 200px;
    margin: 20px;
} */

/* #first {
    background-color: red;
    float: left;
}

#second {
    background-color: blue;
    float: right;
} */
