body{
    /* background-image: url("../img/background.jpg");
    background-position: center;
    background-repeat: no-repeat; */
    /* background-repeat: repeat-y; or repeat-x */
    /* or */
    /* background: rgb(187, 255, 0) url("../img/background.jpg") no-repeat center;
    background-size: cover; */
    background-color: #ffffff;
    height: 2000px;
}

#Block-div{
    width: 50px;
    height: 50px;
    background-color: brown;
}

#Block-div_2{
    background: rgb(55, 0, 255) url("../img/background.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 500px;
}