p {
    color:red;
}

b {
    background-color:aqua;
}

.text-color.some {
    color:chocolate;
}

.text-color {
    color:chartreuse;
}

#bold-text {
    color:green;
}


.text-color.some#some-text {
    background-color: black;
}

div p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: blueviolet;
}

div > p, 
span {
    background-color: deeppink;
}